*{
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App{
  display: flex;
}

nav {
  background-color: black;
  color: white;
  height: 100vh;
  width: 250px;
  position: sticky;
  top: 0px;
  left: 0px;
}

#logo{
  margin-bottom: 3px;
  height: 100px;
  text-align: center;
  margin-top: 40px;;
}

#logo a{
  display: inline-block;
  height: 100%;
  width: 100%;
}

#logo img{
  height: inherit;
}

.rule{
  background-color:  rgb(190, 162, 1);
  height: 2px;
  width: 15%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  margin-top: 40px;
}

li {
  list-style: none;
  text-align: center;
  margin-bottom: 30px;
}

.nav-item{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}

.active {
  color: rgb(190, 162, 1)
}

main{
  width: calc(100% - 250px);
}

.bg-image{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60vh;
}

section{
  min-height: 100vh;
  position: relative;
}

.home{
  background-image: url('./Assets/Images/iceland-mountain-snow.jpg');
  filter: blur(8px);
}

.banner{
  height: 60%;
  width: 100%;
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.4);
}

.banner div{
  width: 50%;
  color: white;
  position: relative;
}

.banner div p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-transform: uppercase;
  font-size: 5em;
}

.beer-can-container{
  overflow: hidden;
}

.beer-can-container img{
  object-fit: cover;
  position: absolute;
  bottom: -25%; 
  right: 50%;
  transform: translateX(50%);
} 

.img-container{
  display: flex;
  height: 40%;
  width: 100%;
  background-color: white;
  position: absolute;
  bottom: 0px;
  justify-content: space-around;
  align-items: center;
}

.image-container{
  width: 45%;
  height: 80%;
}

.image-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about{
  background-image: url('./Assets/Images/viking-boat.jpg');
}

.bg-darken{
  position: absolute;
  top: 0px;
  color: white;
  text-transform: uppercase;
  background-color: rgba(0,0,0,0.4);
  width: 100%;
  height: 60%;
  text-align: center;
}

.bg-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 5rem;
}

.line{
  position: absolute;
  background-color: rgb(190, 162, 1);
}

.line-1{
  width: 4px;
  height: 50px;
  top: 0px;
  left: 0px;
}

.line-2{
  top: 0px;
  width: 50px;
  height: 4px;
}

.line-3{
  bottom: 0px;
  right: 0px;
  height: 50px;
  width: 4px;
}

.line-4{
  bottom: 0px;
  right: 0px;
  width: 50px;
  height: 4px;
}

.about-icons article{
  height: 70%;
  width: 30%;
  text-align: center;
}

.about-icons article .icon-container{
  background-color: black;
  height: 150px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.about-icons article h2{
  margin-top: 10px;
  margin-bottom: 10px;
}

.brewery{
  background-image: url('./Assets/Images/barrels.jpg');
}

.text{
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.text p{
  text-align: center;
  font-weight: 500;
}

.btn{
    background: none;
    background-color: white;
    padding: 20px;
    padding-left: 80px;
    padding-right: 80px;
    border: 5px solid black;
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
}

.events{
  background-image: url('./Assets/Images/people-partying.jpg');
  height: 60vh;
}

.event-bg{
  height: 60vh;
}

.event-links{
  background-color: white;
  width: 75%;
  height: 175px;
  position: absolute;
  top: 60vh;
  left: 50%;
  transform: translate(-50%,-50%);
  box-shadow: 1px 1px 5px grey;
  display: flex;
}

.event-links span{
  display: flex;
  border: 1px solid;
  width: 25%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.upcoming-events{
  margin-top: 120px;
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  justify-content: space-around;
}

.event{
  min-height: 50%;
  width: 40%;
  margin-bottom: 50px;
}

.event img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 960px){
  .App{
    display: block;
  }

  nav{
    width: 100%;
    height: 25vh;
    position: static;
  }

  nav #logo{
    margin: 0px;
  }

  .navigation{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }

  .navigation li:nth-child(2){
    margin-left: 10px;
    margin-right: 10px;
  }

  main{
    width: 100%;
  }
}
